<div class='docs-header-section'>
	<h1>Teams</h1>
</div>

<div class="container">
  <mat-card class="example-card">
    
      <mat-card-header>
        <button *ngIf="isAdmin()" mat-fab color="primary" [routerLink]="['/team-add']"><mat-icon>plus_one</mat-icon></button>

          <!--<mat-form-field class="example-full-width">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>-->
      </mat-card-header>

      <mat-card-content class="grid">


          <mat-card class="example-card-two" *ngFor="let team of teams">
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{team.name}}</mat-card-title>
                  <mat-card-subtitle>{{team.description}} | {{team.name}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <p>Entrainements</p>
                  <p *ngFor="let training of team.trainings">{{training.day}}: {{training.fromTime}} - {{training.toTime}}</p>
              </mat-card-content>
              <mat-card-actions *ngIf="isAdmin()">
                  <button mat-raised-button color="primary" [routerLink]="['/team-edit', team.id]"><mat-icon>edit</mat-icon></button>
                  <button mat-raised-button color="warn" (click)="delete(team.id)"><mat-icon>delete</mat-icon></button>
              </mat-card-actions>
          </mat-card>
      </mat-card-content>

  </mat-card>

</div>


