  <h2>Liste des membres</h2>
  

  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" 
          matSort matSortActive="username" matSortDirection="asc"  class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>&nbsp;
        <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>-->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      (change)="$event ? selectUserRow(row) : selectUserRow(null)"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Utilisateur </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.roles}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="selection.toggle(myRowData); selectUserRow(myRowData)"></mat-row>
  </table>

  <br/>

  <button *ngIf="app.admin" class="btn btn-danger" (click)="createUser()">Créer nouveau membre</button>
  <button *ngIf="selectedUser!=null" class="btn btn-danger" (click)="openDialog()">Mettre à jour</button>
