.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .example-label {
    font-size: 14px;
    width: 100%;
  }

  .docs-header-section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
  max-width: 900px;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 80%;
  padding-left: 0px;
  padding-top: 0;
}
table.mat-table {
  width: 100%;
  text-align: left;
}

.example-h2 {
  margin: 10px;
}

.section-role {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 500px;
}

.mat-cb-role {
  width: 100%;
  display: block;
}

.example-margin {
  margin: 0 10px;
}

img.mat-role {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
}