:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}

mat-card {
    float: left;
    width: 100%;
    margin: 5px;
    height: 150px;
}

.container {
    background: #ff0000;
    width: 100%;
}