/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .timepicker__header {
    background-color: #3f51b5 !important;
  }

  .clock-face__clock-hand {
    background-color: #fafafa !important;
  }

  .clock-face__clock-hand::after {
      background-color: #fafafa !important;
    }

    .clock-face__clock-hand::before {
      border-color: #fafafa !important;
    }
  


/*
  button:not(.timepicker-dial__item) {
    color: #000000 !important;
  }*/
