.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-full-width-center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .example-label {
    font-size: 14px;
    width: 100%;
  }

  .docs-header-section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
  max-width: 900px;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 80%;
  padding-left: 0px;
  padding-top: 0;
}
.containernocenter {
  max-width: 900px;
  margin: auto;
  text-align: left;
  max-width: 80%;
  padding-left: 0px;
  padding-top: 0;
}
table.mat-table {
  width: 100%;
  text-align: left;
}
mat-label {
  margin-bottom: 15px;;
}
mat-divider {
  margin-bottom: 15px;
  margin-top: 15px;
}