

<h2 *ngIf="data.id==null" mat-dialog-title>Nouvelle équipe</h2>
<h2 *ngIf="data.id!=null" mat-dialog-title>Fiche de {{data.name | uppercase}}</h2>
<div mat-dialog-content>
    <form class="example-form">
    <div>
      <!--<label>Nom utilisateur:</label> <input [(ngModel)]="data.username" name="username" placeholder="username"><br/>
      <label>Mot de passe:</label> <input [(ngModel)]="data.password" name="password" placeholder="password"><br/>
      -->
      <!--<label>Nom:</label> <input matInput [(ngModel)]="data.lastname" placeholder="lastname"><br/>
      <label>Prénom:</label> <input [(ngModel)]="data.firstname" placeholder="firstname"><br/>-->
    

          <!--<label>Nom utilisateur:</label> <input [(ngModel)]="data.username" name="username" placeholder="username"><br/>
      <label>Mot de passe:</label> <input [(ngModel)]="data.password" name="password" placeholder="password"><br/>
      -->
      <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="data.name" placeholder="Nom équipe" name="name" />
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="data.season" placeholder="Saison" name="season" />
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="data.description" placeholder="Description" name="description" />
      </mat-form-field>
         
      </div>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button *ngIf="data.id==null" class="btn btn-danger" [mat-dialog-close]="data" cdkFocusInitial>Créer</button>
    <button *ngIf="data.id!=null" class="btn btn-danger" [mat-dialog-close]="data" cdkFocusInitial>Mettre à jour</button>
    </form>
</div>