<h2>Liste des équipes</h2>
  

<table mat-table [dataSource]="teams"  class="mat-elevation-z8">
<!-- Checkbox Column -->
<ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>&nbsp;
      
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    (change)="$event ? selectRow(row) : selectRow(null)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let team"> {{team.name}} </td>
  </ng-container>

  <ng-container matColumnDef="season">
      <th mat-header-cell *matHeaderCellDef> Saison </th>
      <td mat-cell *matCellDef="let team"> {{team.season}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let team"> {{team.description}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Membres </th>
    <td mat-cell *matCellDef="let team"> {{team.members.length}} </td>
  </ng-container>
<!--
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
      </ng-container>
    -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="selection.toggle(myRowData); selectRow(myRowData)"></tr>

</table>

<br/>

<button class="btn btn-danger" (click)="create()">Créer nouvelle équipe</button>
<button *ngIf="selectedTeam!=null" class="btn btn-danger" (click)="openDialog()">Mettre à jour</button>
